# Hypixel API key for fetching data. You can get one from https://developer.hypixel.net/
HYPIXEL_API_KEY=""
# Discord webhook URL for sending notifications & errors
DISCORD_WEBHOOK=""

# Whether to enable development mode (e.g., more verbose logging, mock data, etc.)
DEV="true"

# Whether to enable armor hex color rendering (Got disabled because of mass scraping issues, might get re-enabled in the future
ENABLE_ARMOR_HEX="false"
# Whether to enable verbose logging for debugging purposes (set to "true" to enable)
VERBOSE_LOGGING="true"
# Whether to enable forensics features (e.g., tracking bottlenecks, logging detailed request info, etc.)
FORENSICS_ENABLED="true"

# Domain for the application (used for rendering images, resourcepacks, etc.)
DOMAIN="http://localhost:8080"

# MongoDB connection
MONGO_URI="mongodb://localhost:27017"
MONGO_DB_NAME="SkyCrypt"

# Redis connection
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""

# Server API token for authentication
SERVER_API_TOKEN="DUCKYSOLUCKY" # Must match the token in the frontend config
DISABLE_SERVER_API_AUTH="true" # Set to true to disable API token authentication (for development only, not recommended for production)